# MongoDB local (sans auth par défaut)
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DATABASE=bienici

# Collections
MONGO_VENTES_COLLECTION=vente
MONGO_VENTES_CLEAN_COLLECTION=ventes_clean

# API Bien'ici
BIENICI_API_URL=https://www.bienici.com/realEstateAds.json
DELAY_BETWEEN_REQUESTS=2
MAX_PAGES=100
ITEMS_PER_PAGE=100
# Types à scraper: house | flat | house,flat
PROPERTY_TYPES=house
